<br> </br>

<h2 class = "h2update">Update President</h2>
<form action="/update_pres/<%= @datum.id %>">
  <input type="text" name="url" placeholder="url" value="<%= @datum.url %>">
  <br> </br>
  <input type="text" name="title2" placeholder="title2" value="<%= @datum.title2 %>">
  <br> </br>  
  <input type="text" name="bio" placeholder="bio" value="<%= @datum.bio %>">
  <br> </br>
  <input type="text" name="br1" placeholder="br1" value="<%= @datum.br1 %>">
  <br> </br>
  <input type="text" name="br2" placeholder="br2" value="<%= @datum.br2 %>">
  <br> </br>
  <input type="text" name="br3" placeholder="br3" value="<%= @datum.br3 %>">
  <br> </br>
  <input type="text" name="br4" placeholder="br4" value="<%= @datum.br4 %>">
  <br> </br>
  <input type="text" name="br5" placeholder="br5" value="<%= @datum.br5 %>">
  <br> </br>
  <input type="submit">
</form>